{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock head_title %}

{% block content %}
<section id="emailconfirm-form" class="container section-bg rounded-3 my-4 p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3">
                <h3>{% trans "Confirm Email Address" %}</h3>

                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}

                    {% if can_confirm %}
                        <p>
                            {% blocktrans with confirmation.email_address.email as email %}
                            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.
                            {% endblocktrans %}
                        </p>
                    {% else %}
                        <p>
                            {% blocktrans with confirmation.email_address.email as email %}
                            Unable to confirm {{ email }} because it is already confirmed by a different account.
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>
                        {% blocktrans %}
                        This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.
                        {% endblocktrans %}
                    </p>
                {% endif %}
            </div>
        </div>

        {% if confirmation and can_confirm %}
        <div class="row">
            <div class="col-md-8 mt-3">
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div class="d-flex flex-column flex-md-row gap-2 mt-2">
                        <button class="btn cta-btn btn-block w-100" type="submit">
                            {% trans "Confirm" %}
                        </button>
                        <a class="btn cta-btn btn-block w-100" href="{% url 'account_login' %}">
                            {% trans "Cancel" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
        {% elif not confirmation %}
        <div class="row">
            <div class="col-md-8 mt-3">
                <div class="d-flex flex-column flex-md-row gap-2 mt-2">
                    <a class="btn cta-btn btn-block w-100" href="{% url 'account_email' %}">
                        {% trans "Request New Confirmation Email" %}
                    </a>
                    <a class="btn cta-btn btn-block w-100" href="{% url 'account_login' %}">
                        {% trans "Back to Sign In" %}
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}