{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<section id="login-form" class="container section-bg rounded-3 my-4 p-5">
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3">
            <h3>{% trans "Sign In" %}</h3>
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        </div>
    </div>
<div class="row">
        <div class="col-md-8 mt-3 ">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            <div class="d-flex flex-column flex-md-row gap-2 mt-2">
              <button class="btn cta-btn btn-block" type="submit">{% trans "Sign In" %}</button>
            <a class="btn cta-btn btn-block " href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
       </div>
    </div>
</div>
</section>
{% endblock content %}
