{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <section id="login-form" class="container section-bg rounded-3 my-4 p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-3">
                    <h3>Log Out</h3>
                    <p>{% trans "Are you sure you want to sign out?" %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-3">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="d-flex flex-column flex-md-row gap-2 mt-2">
                            <button class="btn cta-btn btn-block w-100 " type="submit">{% trans "Sign Out" %}</button>
                            <a class="btn cta-btn btn-block w-100" href="{% url 'account_login' %}">{% trans "Cancel" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
