{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <section class="container my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="section-bg rounded-3 p-4 p-md-5">
                    <h1 class="mb-3">{% trans "Sign Up" %}</h1>
                    <p class="mb-4">
                        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                    </p>
                    <form class="allauthforms"
                          id="signup_form"
                          method="post"
                          action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn cta-btn w-100" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
