
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  --navbar: #556B2F;
  --main-bg: #F7F3EC;
  --footer: #A85D43;

  --nav-link: #F7F3EC;
  --nav-link-hover: #F0E6D8;
  --nav-link-active: #FFFFFF;

  --nav-cta: #96472F;
  --nav-cta-hover: #8B422C;

  --heading-primary: #2F2A24;
  --heading-secondary: #5B4A3F;
  --text-main: black;

  --footer-link: #FFF8F2;
  --footer-link-hover: #FFFFFF;
  --footer-link-active: #F0E6D8;

  --font-headings: 'Playfair Display', serif;
  --font-body:'Lato', sans-serif;
}

body{
  background-color: var(--main-bg);
  color: var(--text-main);
  font-family: var(--font-body);
  padding-top: 56px;
}

/*Navigation Bar styles*/


#navbar {
  background-color: var(--navbar) !important ;
}

#navbar .nav-link {
  font-family: var(--font-headings);
  color: var(--nav-link);
  font-weight: 500;
}
.navbar-brand img {
    max-height: 50px;
    width: 200px;
    display: block;
}

.cta-btn{
  background-color: var(--nav-cta);
  font-family: var(--font-headings);
  font-size: 1.2rem;
  color: var(--text-main);
  border: 2px solid var(--nav-cta-hover);
  font-weight: 500;
  letter-spacing: 0.05rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);;
}

main{
  padding-top: 5px ;
}

#footer{
    background-color: var(--footer);
}