{% extends "base.html" %}

{% block content %}
<section class="container mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% if restaurant %}
                <h1 class="pb-2">Welcome to {{ restaurant.name }}</h1>
                <div class="about">
                {{ restaurant.content|safe }}
                </div>
            {% else %}
                <p>No restaurant data yet.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}